*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  width: 100%;
  height: 100%;
  /* background-color: rgb(12,12,12); */
}
body{
  /* background-color: rgb(95, 95, 95); */
  /* background: linear-gradient(to top right, #4d086e, #111185); */
  /* background-color: linear-gradient(red 10%, 30%, blue 90%); */
  background: linear-gradient(to top right, #3e163d, #424b7a);

}
section{
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* background-color: rgb(102, 101, 101); */
  /* background: linear-gradient(to top right, #ff7e5f, #feb47b); */

}
#home{
  height:calc(100vh - 80px);
  margin-top: 80px;
}
.App{
  width: 100%;
  height: 100%;
}
#home .container .Row-Container{
  display: flex;
  flex-direction: row;
}
/************ Navbar Css ************/
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  background-color: rgba(59, 33, 59, 0.613);
  
  /* background-color: green; */
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
    width: 9%;
}
nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #7a7676 !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
}
.navbar-nav .nav-link.active{
  color:#75598a;
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.social-icon {
    display: inline-block;
    margin-left: 14px;
}
.social-icon a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #918a8a;
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
    transform: scale(1);
}
.social-icon a img {
	width: 40%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #746e6e;
  border: 1px solid #b1adad;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

nav.navbar a{
  color: white;
}
/* BANNER */
.imgcontainer{
  height: 100%;
  width: 100%;
}


.imgcontainer img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.container .h1 {
  color: white;
}
.col button{
  margin-top: 40px;
  width: 200px;
  background-color: #715f91;
  border-radius: 5px;
}
.col h1, h2{
  color: white;
}
/* INVEST */
#invest{
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: start;
  padding-top: 100px;
}
button:hover {
  background-color: #282e2d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
#root{
  /* background-color: rgb(12, 12, 12); */
  display: flex;
  flex-direction: row;
}
.GridItemDiv{
  /* background-color: rgb(75, 75, 75); */
  margin: 10px;
  padding: 10px;
  height: 500px;
  width: 500px;
  border-radius: 15px;
  overflow: hidden;
  background: rgba(68, 71, 101, 0.41);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.9px);
-webkit-backdrop-filter: blur(8.9px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.GridItem{
  /* background-color: rgb(60, 60, 60); */
  height: calc(100% - 80px);
  width: 100%;
  /* width: 500px; */
  border-radius: 15px;
  overflow: hidden;
}
.GridItemDiv h3{
  color: white;
}
.InputContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.InputContainer label{
  margin-top: 20px;
  color: white;
}
.InputContainer select{
  width: 50%;
}
.InputContainer input{
  width: 50%;
}
.InputContainer button{
  background-color: #00aa95;
  color: black;
  border-radius: 5px ;
  margin-top: 20px;
  width: 130px;
}
.InputContainer button:hover{
  background-color: rgba(0,238,209,255);
}

#invest .container{
  display: flex;
  flex-direction: row;
}
#invest h1{
  color: white;
  text-align: center;
}
.FinalAmount h2{
  margin: 10px;
  padding: 10px;
  /* height: 500px; */
  /* width: 500px; */
  border-radius: 15px;
  overflow: hidden;
  background: rgba(68, 71, 101, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.9px);
  -webkit-backdrop-filter: blur(8.9px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* Invest */

.content .info-content{
  width: 80vw;
  max-width: 600px;
  color: white;
  margin-top: 150px;
}

.content .info-content p{
  font-size: 20px;
  margin: 15px;
}



/* about */



#about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  padding-top: 100px;
}
#about h1,h2{
  text-align: left;
}

#about p{
  color: white;
}
#about .about{
  margin: 40px;
  width: 50vw;
  text-align: justify;
  max-width: 800px;
}
#about .about p{
  text-align: justify;
}
#about .jamie{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: justify;
  width: 50vw;
  max-width: 800px;
}

.jamieimgcontainer img{
  object-fit: cover;
  height:200px;
  width: 200px;
  border-radius: 50%;
  margin-right: 150px;
}
#about .jamie .thanks{
  width: 40vw;
  margin-top: 30px;
  max-width: 600px;
}

/* rsponsive */

@media screen and (max-width:750px){
  #home .container .Row-Container{
    flex-direction: column-reverse;
  }
  #invest .Grid-Container{
    flex-direction: column-reverse;
    margin-left: 0px;
  }
  #invest .Grid-Container .GridItemDiv{
    width: 90vw;
  }
  #invest{
    height: 200vh;
  }
  #about .about{
    width: 80%;
  }
  #about .jamie{
    width: 75%;
  }
  #about .jamie .thanks{
    width: 60vw;
  }
  .jamieimgcontainer img{
    margin-right: 20px;
  }
} 

@media screen and (max-width:450px){
  #about .jamie{
    flex-direction: column;
  }
}